<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "it.example.alertdialog"
        versionCode = "10"
        version = "1.1.0">

    <name>native alert dialog</name>
 
    <description>
        display a dialog
    </description>
    
    <author href="http://coenraets.org" email="ciccio@gmail.com">
        Ciccio
    </author>
        
    <content src="index.html"/>
    <preference name="android-minSdkVersion" value="14"/>
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0"/>

</widget>
